@font-face{
	font-family: 'Amigos';
	src: url('./fonts/Amigos.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.amigos{
	font-family: 'Amigos';
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.source-sp{
	font-family: 'Source Sans Pro', sans-serif;
}