*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #F3F3F3;
}
.divider{
	width: 10%;
	color: black;

	margin-top: 5%;
	margin-bottom: 5%;
}
.app-title{
	font-family: 'Montserrat', sans-serif;
}
.iphone-mockup{
	width: 60%;
    height: 600px;
	background-image: url('../img/iphone.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}
.mac-mockup{
	width: 60%;
  	max-height: 100vh;
    height: 650px;
	background-image: url('../img/mac.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}
.container{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 50px;
}
.subtitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}
footer{
	padding: 20px;
}
footer a{
	color: #08a0e9;
}


/* Switch */
.switch{
	padding: 10px 10px 10px 30px;
}
.toggle_bar {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, .1);
	background: rgba(300, 300, 300, .1);
	width: 70px;
	display: block;
	box-sizing: border-box;
	height: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	cursor: pointer;
}
.toggle_bar .toggle_square {
	border-radius: 4px;
	transition: left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), background 0.2s ease;
	background: rgba(218, 68, 83, 1);
	position: absolute;
	top: 0;
	left: 40px;
	width: 30px;
	height: 100%;
	box-shadow: 0 4px 16px 8px rgba(0, 0, 0, .15);
}
.toggle_bar .toggle_square:before {
	content: "\d7";
	display: block;
	color: white;
	will-change: content;
	transition: content 0.2s ease;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}
.contract_toggle input[type=checkbox] {
	display: none;
	position: absolute;
	appearance: none;
}
.contract_toggle input[type=checkbox]:checked ~ .toggle_bar .toggle_square {
	background: rgba(55, 188, 155, 1);
	left: 0;
}
.contract_toggle input[type=checkbox]:checked ~ .toggle_bar .toggle_square:before {
	content: "✓";
}
