<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="./app.css">
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<ul>
				<li class="userButton">
					<i class="fas fa-user"></i>
				</li>
				<li class="activeTab">
					HOME
				</li>
				<li>
					EXPLORE
				</li>
				<li>
					COLLECTIONS
				</li>
				<li>
					TRENDING
				</li>
				<li class="searchButton">
					<i class="fas fa-search"></i>
				</li>
			</ul>
		</nav>

		<div class="main">
			<div class="main-container">
				<div class="openMenu">
					<i class="fas fa-bars"></i>
				</div>
				<p>FEATURED COLLECTIONS</p>
				<h1>
					Casual<br>
					Outfit
				</h1>
				<div class="main-navButtons">
					<div class="activeArrow arrowButton">
						<i class="fas fa-long-arrow-alt-left"></i>
					</div>
					<div class="arrowButton">
						<i class="fas fa-long-arrow-alt-right"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="img-navbar">
			<ul>
				<li class="hatsButton">
					<div>
						<img src="./img/hats.png" alt="Hat image">
						<p>HATS</p>
					</div>
				</li>
				<li class="glovesButton">
					<div>
						<img src="./img/gloves.png" alt="Glove image">
						<noscript><img src="./img/gloves.png"></noscript>
						<p>GLOVES</p>
					</div>
				</li>
				<li class="bagsButton">
					<div>
						<img src="./img/bags.png" alt="Bag image">
						<p>BAGS</p>
					</div>
				</li>
				<li class="jacketsButton">
					<div>
						<img src="./img/jackets.png">
						<p>JACKETS</p>
					</div>
				</li>
				<li class="shoesButton">
					<div>
						<img src="./img/shoes.png">
						<p>SHOES</p>
					</div>
				</li>
				<li class="jeansButton">
					<div>
						<img src="./img/jeans.png">
						<p>JEANS</p>
					</div>
				</li>
				<li class="glassesButton">
					<div>
						<img src="./img/glasses.png" alt="Glass image">
						<p>GLASSES</p>
					</div>
				</li>
				<li class="socksButton">
					<div>
						<img src="./img/socks.png">
						<p>SOCKS</p>
					</div>
				</li>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="./app.js"></script>
</body>
</html>