* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Gordita';
	src: url('../Gordita.woff') format('woff');
}
img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.underline {
	text-decoration: underline;
}



/*
	
	Media Queries (Responsive)
*/



/* Little devices */
@media only screen and (max-width: 1080px) {
	.navbar {
		display: none;
	}
	.phone-navbar {
		display: block;
	}
	.phone-navbar ul li {
		margin: 0 !important;
		margin-bottom: 30px !important;
	}

	.content {
		align-items: center !important;
	}
	.content .title {
		margin: auto !important;
		margin-bottom: 30px !important;
		font-size: 35px !important;
	}
	.content p {
		text-align: center !important;
	}
	.langagesutilises {
		flex-direction: column !important;
		align-items: center !important;
	}

	.videocontent {
		flex-direction: column;
		justify-content: space-around;
		height: 500px;
	}
	.videocontent iframe {
		width: 80vw;
	}
	.videocontent div p {
		text-align: left;
	}

	.discovercontent ul li {
		width: 230px !important;
		margin: auto !important;
		margin-bottom: 30px !important;
	}

	.emailcontent div {
		flex-direction: column;
		align-items: center;
	}
	.emailcontent div p {
		margin-bottom: 30px;
	}
}

/* Large devices */
@media only screen and (min-width: 1080px) {
	.navbar {
		display: block;
	}
	.phone-navbar {
		display: none;
	}
}



/*
	NAVBAR
*/



.phone-navbar ul li a {
	color: black !important;
	font-size: 24px !important;
}
.phone-navbar ul {
	width: 90% !important;
}
.navbar ul, .phone-navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	width: 100vh;
	margin: 10px;
}
.navbar ul li, .phone-navbar ul li {
	margin: 30px;
}
.navbar ul li a, .phone-navbar ul li a {
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	font-size: 30px;
}
.navbar ul li a:hover, .phone-navbar ul li a:hover{
	text-decoration: underline;
}
.navbar nav{
	position: absolute;
}



/*
	FIRST CONTENT
*/



.content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 10%;
	margin-left: 10%;
}
.content .title {
	font-family: 'Gordita', sans-serif;
	font-size: 50px;
	margin-bottom: 30px;
}
.content p {
	font-family: sans-serif;
	font-size: 20px;
	width: 70%;
	text-align: right;
	margin-bottom: 3%;
}
.content .langagesutilises ol li {
	font-family: sans-serif;
}
.content .langagesutilises {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5%;
}



/*
	VIDEO
*/



.videocontent, .emailcontent {
	display: flex;
	justify-content: space-around;
	background-color: #3F3BC8;
	padding: 10%;
}
.videocontent h3, .emailcontent h3 {
	font-family: 'Gordita', sans-serif;
	font-size: 40px;
	color: white;
}
.videocontent p {
	text-align: right;
	font-family: sans-serif;
	color: white;
	opacity: 0.8;
	font-style: italic;
}
.videocontent p a {
	color: white;
	text-decoration: none;
}



/*
	DÉCOUVRIR
*/



.discovercontent {
	background-color: white;
	padding: 8% 0 8% 0;
}
.discovercontent h3 {
	font-family: 'Gordita', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-bottom: 6%;
}
.discovercontent ul {
	width: 80%;
	margin: auto;
	list-style-type: none;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.discovercontent ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	transition-duration: 0.5s;
	padding: 15px;
	
	border-radius: 10px;
	background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
	box-shadow:  23px 23px 46px #c5c5c5, 
             -23px -23px 46px #ffffff;
}
.discovercontent ul li:hover {
	transform: scale(1.05);
	transition-duration: 0.5s;
}



/*
	HTML
	
*/



#htmlcontent, #csscontent, #jscontent, #phpcontent {
	display: none;
	margin: auto;
	width: 70%;
	
	padding: 30px;
	margin-bottom: 5%;
	-webkit-box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.46);
	box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.46);
}
#htmlcontent h3, #csscontent h3, #jscontent h3, #phpcontent h3 {
	font-family: 'Gordita', sans-serif;
}
#htmlcontent p, #csscontent p, #csscontent ul li, #jscontent p, #jscontent div, #phpcontent p {
	font-family: sans-serif;
}
.code {
	display: inline-block;
	background-color: #e8ecf1;
	padding: 20px;
	/*border-radius: 15px;*/
	border-left: 8px solid #19b5fe;

	width: 80%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.indexcode {
	color: lightgray;
}
.partcode {
	color: #e74c3c;
}
.greencode {
	color: #2ecc71;
}
.descbalises {
	border: 2px solid black;
	border-collapse: separate;
	border-spacing: 3px;
	width: 50%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
.descbalises tr td {
	padding: 15px;
	font-family: sans-serif;
}



/*
	
	CSS
	
*/



#csscontent .contentlist{
	margin: auto;
	width: 70%;
	margin-top: 15px;
	margin-bottom: 15px;
}



/*
	EMAIL
*/



.emailcontent {
	background-color: #3F3BC8;
	flex-direction: column;
	text-align: center;
}
.emailcontent h3 {
	color: white;
	font-size: 30px;
	margin-bottom: 50px;
}
.emailcontent div {
	display: flex;
	justify-content: space-around;
	width: 50%;
	text-align: center;
	margin: auto;
}
.emailcontent div p {
	font-style: italic;
	margin-top: 7px;
	color: white;
}
.emailcontent div p, .emailcontent div a {
	font-family: 'Gordita', sans-serif;
	font-size: 20px;
}
.emailcontent div a {
	padding-top: 10px !important;
	width: 150px !important;
}
.gradientButton {
	font-family: 'Gordita', sans-serif;
	text-decoration: none;
	width: 200px;
	padding-top: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.gradientButton:hover {
	background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.gradientButton:focus {
	outline: none;
}